# R-specific files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history

# macOS-specific files
.DS_Store

# Analysis artifacts
analysis/figure/
analysis/*.png
analysis/*.html
analysis/*_cache/
analysis/site_libs/

# Output files
output/*.RData
output/**/batch-correction-limma/**
output/**/all-condition-analysis.RData
output/**/spta1-analysis.RData

