$primary: #1d5731;
$yellow: #fab617;
$cyan: #4ec6eb;
$green: #1d5731;
$font-family-sans-serif: -apple-system, Bubblegum Sans, "Open Sans", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
